:root {
    --header-bg: #2e3a46;
    --main-bg: #1e2d3b;
    --logo-color: #1dd65f;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: none;
}

/* HEADER */
header {
    height: 60px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.3rem;
    color: var(--logo-color);
    background-color: var(--header-bg);
}

header .select-container {
    min-height: 100%;
}

/* MAIN */
main {
    height: calc(100vh - 60px);
    background-color: var(--main-bg);
}

main .container {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0 0;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}

main ul li {
    width: calc(100% / 5);
    padding: .5rem 1rem;
}

main .inner-container {
    min-height: 280px;
    padding: 1rem;
    background-color: var(--header-bg);
}

.inner-container .title {
    padding: 1rem 0;
}

.inner-container .author,
.inner-container .year {
    color: gray;
    font-weight: bold;
    font-size: .9rem;
}